<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.malkov.joomtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="name.malkov.joomtest.JoomTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="name.malkov.joomtest.ui.imagelist.ImageListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="name.malkov.joomtest.ui.preview.PreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/action_label_http_giphy">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="giphy.com"
                    android:pathPrefix="/gifs"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/action_label_http_giphy">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="giphy.com"
                    android:pathPrefix="/gifs"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/action_label_scheme_giphy">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="gifs"
                    android:scheme="giphy" />
            </intent-filter>
        </activity>
    </application>

</manifest>